<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Iris-Versus" />
    <meta property="og:description" content="AI vs. あなた" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://iris_versus-1-k0274135.deta.app/" />
    <meta property="og:site_name" content="Iris-Versus" />
    <meta property="og:image" content="https://iris_versus-1-k0274135.deta.app/static/img/og_image.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@aran_ai_python" />
    <meta name="twitter:title" content="Iris-Versus" />
    <meta name="twitter:description" content="AI vs. あなた" />
    <meta name="twitter:image" content="https://iris_versus-1-k0274135.deta.app/static/img/og_image.png" />
    <link rel=apple-touch-icon sizes="180x180" href="static/img/apple-touch-icon.png">
    <link rel=icon type=image/png href="static/img/favicon.png">
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/script.js">
    <title>Iris-Versus</title>
</head>

<body>
    <header>
        <h1>人類 VS. AI</h1>
        <h3>〜あなたは人工知能を超えられるか〜</h3>
    </header>

    {% block main %}
    {% endblock %}

    <footer>
        <hr>
        <small style="color: gray; margin: 0 auto;">&copy; Shunsuke Nara　2023</small>
    </footer>
</body>

</html>