{% extends 'base.html' %}
{% block main %}

    <div>
        <h3>説明</h3>
        <p>
            今からあなたには3種類のアヤメ(今年の相模原祭テーマの「アイリス」という花)の「がく」と「花びら」のデータを30個見せます。<br>
            同時に、そのデータを用いて以下の3種類のアヤメの分類をするAIを作ります。
        </p>

        <div class="img">
            <img src="static/img/iris.png" alt="">
        </div>

        <p>
            次に、あなたに見せたデータ以外のアヤメデータを10個見せますので、それらが3種類のアヤメの内どのアヤメであるかを予測してください。
            同時に、AIもその10個のデータがどのアヤメであるかを予測します。
        </p>
        
        <p>
            予測が出来次第、あなたの予測結果とAIの予測結果の正答率を比較し、より高かった方が勝ちとなります。
            (同率だった場合は引き分けになります)
        </p>

        <p>
            以前から技術的特異点(シンギュラリティ)を初めとして各所から「AIはいずれ人類を越える」と評価されてきましたが、今年出てきたChatGPT等の技術を触った人はその説が現実的になったと感じた人も多いでしょう。
            しかし、そもそもあなたは旧世代のAIには勝っているのでしょうか？いずれ来る新時代よりも先にあなたがAIに負けてしまってはいないでしょうか？
        </p>

        <div class="img">
            <img src="static/img/shinjidai.png" alt="">
        </div>

        <p>
            今この瞬間、あなたはAIと勝負し、人類がまだ時代遅れでは無いことを示さなければなりません。
            人類の威信をかけて頑張ってください！
        </p>
    </div>

    <div>
        <button class="start" onclick="location.href='./iris'"><span>iris(アヤメ)分類対決を始める</span></button>
    </div>

{% endblock %}